<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>명언 북마크</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <!--{{ savedList | json }}-->
    <ion-card *ngFor="let item of savedList">

        <ion-card-content>
            {{item}}
        </ion-card-content>

        <ion-row>
            <ion-col align="right">
                <button ion-button icon-left clear small (click)="deleteItem(item)">
                    <ion-icon name="trash"></ion-icon>
                    <div>delete</div>
                </button>
            </ion-col>

        </ion-row>
    </ion-card>


    <!--<ion-card class="blurred-title-card" *ngFor="let item of savedList; let k = index">


        <div class="card-image"
             [style.background-image]="'url(' + imageList[k].urls.regular + ')'"></div>


        <div class="card-title-background">
            <span [style.background-image]="'url(' + imageList[k].urls.regular + ')'"></span>
        </div>


        <div class="card-title" style="color: white">
            <p class="jejuFont">

                <ion-col col-12="" style="font-family: 'Jeju Gothic'">
                    {{item}}
                </ion-col>

            </p>
        </div>
    </ion-card-->>
</ion-content>

